/* Normal link */
a {
    color: blue;
    text-decoration: none;
  }
  
  /* Link when hovered */
  a:hover {
    color: red;
    text-decoration: underline;
  }
  
  /* Visited link */
  a:visited {
    color: purple;
  }
  
  /* Link when it's clicked */
  a:active {
    color: green;
  }
  